@import './styles/reset.scss';
@import './styles/base.scss';
@import './styles/vars.scss';
@import './styles/fonts.scss';
@import './styles/utilities.scss';

#app {
    min-height: 100%;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--token-grids-desktop-offset);
    padding-left: var(--token-grids-desktop-offset);

    @media screen and (max-width: $breakpoint-laptop) {
        padding-right: var(--token-grids-laptop-offset);
        padding-left: var(--token-grids-laptop-offset);
    }

    @media screen and (max-width: $breakpoint-tablet) {
        padding-right: var(--token-grids-tablet-offset);
        padding-left: var(--token-grids-tablet-offset);
    }

    @media screen and (max-width: $breakpoint-v-tablet) {
        padding-right: var(--token-grids-v-tablet-offset);
        padding-left: var(--token-grids-v-tablet-offset);
    }
    
    @media screen and (max-width: $breakpoint-mobile) {
        padding-right: var(--token-grids-mobile-offset);
        padding-left: var(--token-grids-mobile-offset);
    }

}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: -99px;
}
