body {
    display: flex;
    flex-direction: column;
    margin: 0;

    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    color: var(--text-color);
    background: var(--color-background);
    line-height: 1.2;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: var(--primaryFont), sans-serif;
}

p {
    @media (max-width: $breakpoint-v-tablet) {
        font-size: 16px;
    }
}

.link {
    color: var(--text-color);
    transition: color var(--transition);
    text-decoration: none;

    &:hover {
        color: var(--brand-color);
    }
}

li {
    @media (max-width: $breakpoint-v-tablet) {
        font-size: 16px;
    }
    
    &:before {
        content: '-';
        display: inline-block;
        width: 20px;
        height: 100%;
        text-align: center;
    }

    & + & {
        margin-top: 8px;
    }
}

h1 {
    font-size: 48px;
    font-weight: 700;

    @media (max-width: $breakpoint-v-tablet) {
        font-size: 32px;
    }
}

h2 {
    font-size: 36px;
    font-weight: 600;

    @media (max-width: $breakpoint-v-tablet) {
        font-size: 24px;
    }
}

.button,
button {
    background-color: var(--white);
    border: 1px solid #6F6D7B;
    border-radius: 4px;
    color: #2A2B30;
    transition: all var(--transition);
    padding: 15px 31px;
    text-transform: uppercase;
    font-size: 13px;
    overflow: hidden;
    position: relative;

    &:hover,
    &:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--brand-color);
        transform: translateY(-0.25em);
    }

    &--accent {
        color: var(--white);
        background-color: var(--brand-color);
        border-color: var(--white);

        &:after {
            content: '';
            position: absolute;
            background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(254,254,254,0) 100%);
            height: 155px;
            left: 0;
            transform: translateX(-50px) rotate(15deg);
            opacity: .3;
            top: -50px;
            width: 50px;
            z-index: 1;
            animation: button-glare 7.5s infinite;
            animation-delay: 7s;
        }
    }
}