:root {
    --black: #000000;
    --white: #ffffff;
    --text-color: #ffffff;
    --text-color-black: #000000;
    --color-background: #272733;
    --brand-color: #3E9CDC;
    --site-width: 1172px;

    --primaryFont: 'Lato';
    --transition: .2s ease-in-out;

    //grid
    --token-grids-tablet-offset: 24px;
    --token-grids-v-tablet-offset: 16px;
    --token-grids-mobile-offset: 16px;
}

//breakpoints
$breakpoint-tablet: 1359px; // tablet
$breakpoint-v-tablet: 1023px; // v-tablet
$breakpoint-mobile: 599px; // mobile


